form {
    text-align: center;
  }
  
  input {
    padding: 10px;
  }
  
  button {
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  table {
      background: #fefefe;
      border-radius:1px;
      border-collapse: collapse;
      height: 90px;
      margin: 50px auto;
      max-width: 600px;
      padding:5px;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      animation: float 4s infinite;
    }
     
    th {
      color:#fefefe;;
      background:#073a69;
      border-bottom:4px solid #888888;
      border-right: 1px solid #343a45;
      font-size:23px;
      padding:20px;
      font-weight: bolder;
      text-align:left;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      vertical-align:middle;
    }
    
    th:first-child {
      border-top-left-radius:3px;
    }
     
    th:last-child {
      border-top-right-radius:3px;
      border-right:none;
    }
      
    tr {
      border-top: 1px solid #fefefe;
      border-bottom: 1px solid #fefefe;
      color:#222222;
      font-size:16px;
      font-weight:100;
      text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }
     
    tr:hover td {
      background:#024a8d;
      color:#fefefe;
    }
     
    tr:first-child {
      border-top:none;
    }
    
    tr:last-child {
      border-bottom:none;
    }
     
    tr:nth-child(odd) td {
      background:#fefefe;
    }
     
    tr:nth-child(odd):hover td {
      background:#2e94f3;
    }
  
  
    td {
      background:#fefefe;
      padding:20px;
      text-align:left;
      vertical-align:middle;
      font-weight:300;
      font-size:18px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      border-right: 1px solid #ffffff;
    }