  .form {
    padding: 0px 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .form label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  text-align: left;
  margin-right:50%;
  font-size: 20px;
  }
 
  .form input {
    width: 60%;
    border: 4px solid #02488a;
    background: none;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 7px 10px;
    outline: none;
    margin-bottom: 10px;
  }
  .form textarea {
    width: 60%;
    height: 120px;
    border: 4px solid #02488a;
    background: none;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 7px 10px;
    outline: none;
    margin-bottom: 20px;
  }
  
  button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    color: #0366C3;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #0366C3;
    width: 90px;
    height: 30px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #fefefe;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }
  
  button:hover {
    transform: translate3d(0, 0.25em, 0);
    background-color: #222222da;
    border-color: #222222da;
    color: #fefefe;
  }
  button:active {
    transform: translate(0em, 0.5em);
  }
  main {
    display: inline-block;
  }
  