.text {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  width: 100%;
  }
  
  .title {
    margin-left: 0rem;
  }

  .bloco{
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
  }

  .avatar {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  }
  .avatar img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }