body,
input,
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #222222;
}
.header a img{
  margin-top: 15px;
  margin-left: 15px;
}
/*nav*/
.menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #222222;
  overflow-y: hidden;
  list-style-type: none;
}

.menu li{
  margin: -10px 0px 5px 0px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  text-align: center;
  box-shadow: 3px 4px #888888;
  background-color: #0366C3; /* Green */
  border: none;
  color: #fefefe;
  padding: 5px 30px;
  margin-left: 1px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.menu li:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.menu a{
  overflow-y: hidden;
  list-style-type: none;
  font-size: 30px;
  font-weight: bolder;
  color: #9e9e9eda;
}
.menu a:hover{
  color: #fefefe;
}

.search{
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
}

.search input{
  font-weight: bold;
  font-size:small;
}

.search button{
  color: #0366C3;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #0366C3;
  width: 90px;
  height: 30px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #fefefe;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.search button:hover{
  transform: translate3d(0, 0.25em, 0);
  background-color: #222222da;
  border-color: #222222da;
  color: #fefefe;
}

.bloco{
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 10px;
  width: 100%;
}

footer {
  width: 100%;
  margin: 4rem 0;
  position: absolute;
  bottom: -100px;
  left: 0;
  text-align: center;
  font-size: 2rem;
}

footer p {
  align-items: center;
  padding: 15px 0;
  font-size: 1.2rem;
  justify-content: center;
  text-align: center;
}